.App {
  text-align: center;
}

#game{
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  margin:0%;
}

#character{
  width: 256px;
  height: 400px;
  position: relative;
  top: 330px; 
  scale:.35;
  left:0px;
  
}
#hat{
  width: 256px;
  height: 400px;
  position: absolute;
  top:200px; 
  scale:.35;
  left:400px;
  background: url("./hat.png");

  
}


@keyframes sprite-run {
  from { background-position: 0px; }
  to { background-position: 2560px; }
}

.run{
  animation: sprite-run 500ms linear;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.flip{
  transform: scaleX(-1);
}

@keyframes jump{
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

.animate-jump{
  background: url("./xmas-no-hat.png");
  animation: jump 300ms linear;
}

.background-run{
  background: url("./xmas-no-hat.png");
}

.background-stand{
  background: url("./xmas-stand-no-hat.png");
}


.animate-jump-hat{
  background: url("./xmas-with-hat.png");
  animation: jump 300ms linear;
}

.background-run-hat{
  background: url("./xmas-with-hat.png");
}

.background-stand-hat{
  background: url("./xmas-stand-hat.png");
}

.hidden{
  visibility: hidden;
}
